<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="../../common/vue/vue.js"></script>
    <script src="../../common/axios/axios.min.js"></script>
    <script src="../../common/jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="../../common/element/index.css">
    <script src="../../common/element/index.js"></script>
    <script src="../../js/error.js"></script>
    <script src="../../js/permission.js"></script>
</head>
<body>
    <div id="app">
        <div>
           <el-button @click="openEdit('add')" type="success" icon="el-icon-plus" size="small" v-if="buttonVisible.add">新增</el-button>
        </div>
        <template>
            <div>
                <!--@row-click="clickRow"-->
                <el-table ref="userTable"
                          :data="userData"
                          style="width: 100%"
                          height="770"
                          @selection-change="getSelected">
                    <el-table-column type="selection">
                    </el-table-column>
                    <el-table-column type="index"
                                     label="序号"
                                     :index="indexMethod">
                    </el-table-column>
                    <el-table-column prop="account"
                                     label="账号"
                                     width="100px">
                    </el-table-column>
                    <el-table-column prop="nickName"
                                     label="昵称"
                                     width="100px">
                    </el-table-column>
                    <el-table-column prop="name"
                                     label="名字">
                    </el-table-column>
                    <el-table-column fixed="right"
                                     label="操作"
                                     width="200">
                        <template slot-scope="scope">
                            <el-button @click="openEdit('query',scope.row)" type="primary" icon="el-icon-search" size="small"></el-button>
                            <el-button @click="openEdit('update',scope.row)" type="warning" icon="el-icon-edit" size="small" v-if="buttonVisible.update"></el-button>
                            <el-button @click="openEdit('delete',scope.row)" type="danger" icon="el-icon-delete" size="small" v-if="buttonVisible.delete"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div>
                <el-pagination @size-change="handleSizeChange"
                               @current-change="handleCurrentChange"
                               :current-page="queryReq.currentPage"
                               :page-sizes="pageSizes"
                               :page-size="queryReq.pageSize" layout="total, sizes, prev, pager, next, jumper"
                               :total="totalCount">
                </el-pagination>
            </div>
            <!--用户基础信息编辑页面-->
            <div>
                <el-dialog :title="form.formTitle"
                           :visible.sync="formVisible"
                           :center="true"
                           width="50%">
                    <el-form :model="form">
                        <el-form-item label="账号" :label-width="formLabelWidth">
                            <el-input v-model="form.account" autocomplete="off" :disabled="formDisabled"></el-input>
                        </el-form-item>
                        <el-form-item label="昵称" :label-width="formLabelWidth">
                            <el-input v-model="form.nickName" autocomplete="off" :disabled="formDisabled"></el-input>
                        </el-form-item>
                        <el-form-item label="姓名" :label-width="formLabelWidth">
                            <el-input v-model="form.name" autocomplete="off" :disabled="formDisabled"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" size="small" @click="save">确 定</el-button>
                        <el-button size="small" @click="formVisible = false">取 消</el-button>
                    </div>
                </el-dialog>
            </div>
        </template>
    </div>
    <script>
        axios.defaults.headers.Authorization = JSON.parse(sessionStorage.getItem("Authorization"));
        new Vue({
            el: "#app",
            data: {
                queryReq: {
                    currentPage: 1,
                    pageSize: 15
                },
                pTitle: 'admin',
                sTitle: 'user',
                userData: [],
                userRoleData: [{ roleID: 1, roleName: '哈哈' }],
                totalCount: 0,
                pageSizes: [15, 20, 30, 40, 50],
                permissions: [],
                formVisible: false,//显示表单
                formDisabled: false,//编辑表单
                form: {},
                formLabelWidth: '100px',
                checkedRows: [],
                buttonVisible: {
                    add: false,
                    update: false,
                    delete: false
                },
            },
            methods: {
                getData: function (n1, n2) {//获取用户列表
                    this.queryReq.pageSize = n1;
                    this.queryReq.currentPage = n2;
                    axios.post('/admin/user', this.$data.queryReq).then(response => {
                        if (response.data.code === 1) {
                            this.userData = response.data.data.tableData;
                            this.totalCount = response.data.data.totalCount;
                        } else {
                            alert(response.data.message);
                        }
                    }).catch(function (error) {
                        redirect(error);
                    });
                },
                openEdit(operation, row) {
                    switch (operation) {
                        case 'delete':
                            this.form = {};
                            axios.post('/admin/deleteUser',row).then(response => {
                                if (response.data.code === 1) {
                                    this.$message({ message: '删除成功', type: 'success' });
                                    this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
                                } else {
                                    alert(response.data.message);
                                }
                            }).catch(function (error) {
                                redirect(error);
                            });
                            break;
                        case 'query':
                            this.form = row;
                            this.form.formTitle = '查看';
                            this.formDisabled = true;
                            this.formVisible = true;
                            break;
                        case 'add':
                            this.form = {};
                            this.form.formTitle = '新增';
                            this.formDisabled = false;
                            this.formVisible = true;
                            break;
                        case 'update':
                            this.form = JSON.parse(JSON.stringify(row));//深克隆
                            this.form.formTitle = '修改';
                            this.formDisabled = false;
                            this.formVisible = true;
                            break;
                    }
                },
                save() {//保存
                    this.formVisible = false;
                    switch (this.form.formTitle) {
                        case '新增':
                            axios.post('/admin/addUser', this.$data.form).then(response => {
                                if (response.data.code === 1) {
                                    this.$message({ message: '添加成功', type: 'success' });
                                    this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
                                } else {
                                    alert(response.data.message);
                                }
                            }).catch(function (error) {
                                redirect(error);
                            });
                            break;
                        case '修改':
                            axios.post('/admin/updateUser', this.$data.form).then(response => {
                                if (response.data.code === 1) {
                                    this.$message({ message: '修改成功', type: 'success' });
                                    this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
                                } else {
                                    alert(response.data.message);
                                }
                            }).catch(function (error) {
                                redirect(error);
                            });
                            break;
                    }
                },
                // 每页显示的条数
                handleSizeChange: function (val) {
                    // 改变每页显示的条数
                    this.queryReq.pageSize = val;
                    // 点击每页显示的条数时，显示第一页
                    this.getData(val, 1);
                    // 注意：在改变每页显示的条数时，要将页码显示到第一页
                    this.queryReq.currentPage = 1;
                },
                // 显示第几页
                handleCurrentChange: function (val) {
                    // 改变默认的页数
                    this.queryReq.currentPage = val;
                    // 切换页码时，要获取每页显示的条数
                    this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
                },
                indexMethod(index) {//生成索引
                    return index + 1;
                },
                getSelected(selection, row) {//获取多选内容
                    this.checkedRows = selection;
                },
                /**clickRow(row, column, event) {//鼠标单击行事件
                    let index = this.checkedRows.findIndex(item => {//判断已选数组中是否已存在该条数据
                        return item.id == row.id;
                    })
                    if (index == -1) {//如果未存在，设置已选状态，并在checkedRows中添加这条数据
                        this.$refs.userTable.toggleRowSelection(row, true); //设置复选框为选中状态
                        this.checkedRows.push(row);
                    } else {//如果已存在，设置未选状态，并在checkedRows中删除这条数据
                        this.$refs.userTable.toggleRowSelection(row, false); //设置复选框为未选状态
                        this.checkedRows.splice(index, 1);
                    }
                },*/
            },
            created: function () {
                //权限校验
                checkPermission(this.pTitle, this.sTitle, this.buttonVisible, this.permissions);
                //加载数据
                this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
            }
        });
    </script>
</body>
</html>