<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="../../common/vue/vue.js"></script>
    <script src="../../common/axios/axios.min.js"></script>
    <script src="../../common/jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="../../common/element/index.css">
    <script src="../../common/element/index.js"></script>
    <script src="../../js/error.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <!--<el-button @click="openEdit('add')" type="success" icon="el-icon-plus" size="small" v-if="buttonVisible.add">新增</el-button>
            <el-button @click="openEdit('update')" type="warning" icon="el-icon-edit" size="small" v-if="buttonVisible.update">修改</el-button>-->
            <el-popconfirm  confirm-button-text='确定'
                            cancel-button-text='取消'
                            icon="el-icon-delete"
                            icon-color="red"
                            @confirm="handleDeleteConfirm()"
                            @cancel=""
                            title="确定删除吗？"
                            width="200">
                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference" v-if="buttonVisible.delete">批量删除</el-button>
            </el-popconfirm>
        </div>
        <template>
            <div>
                <el-table ref="multipleTable"
                          :data="tableData"
                          style="width: 100%"
                          height="770"
                          @selection-change="getSelected"
                          @row-click="click">
                    <el-table-column type="selection">
                    </el-table-column>
                    <el-table-column type="index"
                                     label="序号"
                                     :index="indexMethod">
                    </el-table-column>
                    <el-table-column prop="account"
                                     label="账号"
                                     width="100px">
                    </el-table-column>
                    <el-table-column prop="nickName"
                                     label="昵称"
                                     width="100px">
                    </el-table-column>
                    <el-table-column prop="name"
                                     label="名字">
                    </el-table-column>
                    <el-table-column fixed="right"
                                     label="操作"
                                     width="200">
                        <template slot-scope="scope">
                            <el-button @click="openEdit('query',scope.row)"  type="primary" icon="el-icon-search" size="small">查看</el-button>
                            <el-button @click="openEdit('update',scope.row)" type="warning" icon="el-icon-edit" size="small" v-if="buttonVisible.update">修改</el-button>
                            <el-button @click="delete(scope.$index, tableData)" type="danger" icon="el-icon-delete" size="small" v-if="buttonVisible.delete">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div>
                <el-pagination @size-change="handleSizeChange"
                               @current-change="handleCurrentChange"
                               :current-page="queryReq.currentPage"
                               :page-sizes="pageSizes"
                               :page-size="queryReq.pageSize" layout="total, sizes, prev, pager, next, jumper"
                               :total="totalCount">
                </el-pagination>
            </div>
            <!--编辑页面-->
            <div>
                <el-dialog :title="form.formTitle" :visible.sync="formVisible" :center="true">
                    <el-form :model="form">
                        <el-form-item label="账号" :label-width="formLabelWidth">
                            <el-input v-model="form.account" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="昵称" :label-width="formLabelWidth">
                            <el-input v-model="form.nickName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="姓名" :label-width="formLabelWidth">
                            <el-input v-model="form.name" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="formVisible = false">取 消</el-button>
                        <el-button type="primary" @click="formVisible = false">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
        </template>
    </div>
    <script>
        axios.defaults.headers.Authorization = JSON.parse(sessionStorage.getItem("Authorization"));
        new Vue({
            el: "#app",
            data: {
                queryReq: {
                    currentPage: 1,
                    pageSize: 15
                },
                title: 'adminUser',
                tableData: [],
                totalCount: 0,
                pageSizes: [15, 20, 30, 40, 50],
                permissions: [],
                formVisible: false,
                form: {},
                formLabelWidth: '120px',
                checkedRows: [],
                buttonVisible: {
                    add: false,
                    update: false,
                    delete: false
                },
            },
            methods: {
                getData: function (n1, n2) {
                    this.queryReq.pageSize = n1;
                    this.queryReq.currentPage = n2;
                    axios.post('/admin/user', this.$data.queryReq).then(response => {
                        if (response.data.code === 1) {
                            //console.log(response.data.data);
                            this.tableData = response.data.data.tableData;
                            this.totalCount = response.data.data.totalCount;
                        } else {
                            alert(response.data.message);
                        }
                    }).catch(function (error) {
                        redirect(error);
                    });
                },
                openEdit(operation,row) {
                    if (operation != 'add' && (this.checkedRows == null || this.checkedRows.length == 0)) {
                        this.$message({ message: '请勾选需要操作的数据行', type: 'error' });
                        return;
                    }
                    switch (operation) {
                        case 'query':
                            this.form = row;
                            this.form.formTitle = '查看';
                            this.formVisible = true;
                            break;
                        case 'add':
                            this.form = {};
                            this.form.formTitle = '新增';
                            this.formVisible = true;
                            break;
                        case 'update':
                            this.form = row;
                            this.form.formTitle = '修改';
                            this.formVisible = true;
                            break;
                    }
                },
                delete(row) {

                },
                handleDeleteConfirm() {
                    console.log('执行删除逻辑');
                },
                // 每页显示的条数
                handleSizeChange: function (val) {
                    // 改变每页显示的条数
                    this.queryReq.pageSize = val;
                    // 点击每页显示的条数时，显示第一页
                    this.getData(val, 1);
                    // 注意：在改变每页显示的条数时，要将页码显示到第一页
                    this.queryReq.currentPage = 1;
                },
                // 显示第几页
                handleCurrentChange: function (val) {
                    // 改变默认的页数
                    this.queryReq.currentPage = val;
                    // 切换页码时，要获取每页显示的条数
                    this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
                }, 
                indexMethod(index) {//生成索引
                    return index + 1;
                },
                getSelected(selection, row) {//获取多选内容
                    this.checkedRows = selection;
                },
                click(row, column, event) {//鼠标单击事件
                    let index = this.checkedRows.findIndex(item => {//判断已选数组中是否已存在该条数据
                        return item.id == row.id;
                    })
                    if (index == -1) {//如果未存在，设置已选状态，并在checkedRows中添加这条数据
                        this.$refs.multipleTable.toggleRowSelection(row, true); //设置复选框为选中状态
                        this.checkedRows.push(row);
                    } else {//如果已存在，设置未选状态，并在checkedRows中删除这条数据
                        this.$refs.multipleTable.toggleRowSelection(row, false); //设置复选框为未选状态
                        this.checkedRows.splice(index, 1);
                    }
                },
            },
            created: function () {
                //权限校验
                this.permissions = JSON.parse(sessionStorage.getItem(this.title.toLowerCase()));
                if (this.permissions == null) top.location.href = "../home/login.html";
                var buttons = Object.keys(this.buttonVisible);
                for (var p = 0; p < this.permissions.length; p++) {
                    for (var b = 0; b < buttons.length; b++) {
                        if (this.permissions[p].toLowerCase() === (this.title + buttons[b]).toLowerCase()) {
                            this.buttonVisible[buttons[b]] = true;
                        }
                    }
                }
                //加载数据
                this.getData(this.queryReq.pageSize, this.queryReq.currentPage);
            }
        });
    </script>
</body>
</html>